.navButtons {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navButtons .nav1 {
  margin-top: 0px;
  margin-right: 10px;
  /* flex: 0 0 50%; */
  background-color: rgb(0, 0, 5);
  font-family: oswald;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 100px;
  height: 50px;
  width: 140px;
  text-transform: uppercase;
  color: white;
  border: none;
}
.navButtons .nav1:focus {
  background-color: #faf9f8;
  border: 2px solid black;
  color: black;
}

.navButtons .nav2 {
  margin-top: 0px;
  margin-left: 10px;
  /* flex: 0 0 50%; */
  background-color: rgb(0, 0, 0);
  font-family: oswald;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 100px;
  height: 50px;
  width: 140px;
  text-transform: uppercase;
  color: white;
  border: none;
}
.navButtons .nav2:focus {
  background-color: #faf9f8;
  border: 2px solid black;
  color: black;
}

.nav3Container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0px;
}
.navButtons .nav3 {
  font-family: oswald;
  background-color: rgba(255, 255, 255, 0);
  font-size: 37px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: none;
  margin-top: 40px;
  margin-right: 35px;
  width: 30px;
  height: 50px;
}

.navButtons .nav3:focus {
  background-color: #faf9f800;
  color: #faf9f800;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  /* background-color: #faf9f8; */
  position: fixed;
  bottom: 0px;
}
