.navButtons {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navButtons .nav1 {
  margin-top: 7px;
  margin-right: 10px;
  /* flex: 0 0 50%; */
  background-color: rgb(0, 0, 5);
  font-family: oswald;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 100px;
  height: 50px;
  width: 140px;
  text-transform: uppercase;
  color: white;
  border: none;
}
.navButtons .nav1:active {
  background-color: #faf9f8;
  border: 2px solid black;
  color: black;
}

.navButtons .nav2 {
  margin-top: 7px;
  margin-left: 10px;
  /* flex: 0 0 50%; */
  background-color: rgb(0, 0, 0);
  font-family: oswald;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 100px;
  height: 50px;
  width: 140px;
  text-transform: uppercase;
  color: white;
  border: none;
}
.navButtons .nav2:active {
  background-color: #faf9f8;
  border: 2px solid black;
  color: black;
}

.nav3Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  align-items: flex-end;

  background-color: rgba(109, 80, 80, 0);
}
.navButtons .nav3 {
  position: absolute;
  font-family: oswald;
  background-color: rgba(255, 255, 255, 0);
  font-size: 37px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: none;
  top: 23px;
  right: 20px;
}
.navButtons .nav3:active {
  background-color: rgba(255, 255, 255, 0);
  color: #e6842f;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 87px;
  background-color: #faf9f8d5;
  position: fixed;
  bottom: 0px;
}

hr {
  align-self: flex-end;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0px;
  border: none;
  height: 1px;
  background-color: rgb(0, 0, 0);
}
