.navButtons {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Button 'Randomizer' */
/* Styling */
.navButtons .nav1 {
  margin-top: 7px;
  margin-right: 10px;
  background-color: rgb(21, 21, 21);
  font-family: oswald;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 100px;
  height: 50px;
  width: 140px;
  text-transform: uppercase;
  color: white;
  border: none;
}
/* Anderes Styling on Click */
.navButtons .nav1:active {
  background-color: #faf9f8;
  border: 2px solid rgb(21, 21, 21);
  color: rgb(21, 21, 21);
}

/* Button 'My Recipe' */
/* Styling */
.navButtons .nav2 {
  margin-top: 7px;
  margin-left: 10px;
  background-color: rgb(21, 21, 21);
  font-family: oswald;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 100px;
  height: 50px;
  width: 140px;
  text-transform: uppercase;
  color: white;
  border: none;
}
/* Anderes Styling on Click */
.navButtons .nav2:active {
  background-color: #faf9f8;
  border: 2px solid rgb(21, 21, 21);
  color: rgb(21, 21, 21);
}

/* Button 'Add Recipe' */
/* Container */
.nav3Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  align-items: flex-end;

  background-color: rgba(109, 80, 80, 0);
}
/* Styling */
.navButtons .nav3 {
  position: absolute;
  font-family: oswald;
  background-color: rgba(255, 255, 255, 0);
  font-size: 37px;
  font-weight: 400;
  color: rgb(21, 21, 21);
  border: none;
  top: 17px;
  right: 20px;
}
/* Anderes Styling on Click */
.navButtons .nav3:active {
  background-color: #faf9f800;
  color: #e6842f;
}

/* Linie unter Header */
hr {
  align-self: flex-end;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0px;
  border: none;
  height: 0.5px;
  background-color: rgb(21, 21, 21);
}

/* Untere Navbar */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 87px;
  background-color: #faf9f8d5;
  position: fixed;
  bottom: 0px;
}
