.container {
  position: fixed;
  /* z-index: 1; */
  /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); */
  /* z-index: 5; */
}

.infoBox {
  position: fixed;
  background: white;
  color: rgb(161, 144, 133);
  font-family: "impact";
  width: 300px;
  height: 125px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  border-radius: 10px;
}
