* {
  -webkit-tap-highlight-color: transparent;
}

/* Komplette Seite, wenn sich Popup öffnet */
.fullRecipeContainer {
  animation: backgroundAnimation 0.3s;
  display: flex;
  justify-content: center;
  background-color: rgba(21, 21, 21, 0.801);
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
/* Transparenter Hintergrund Animation */
@keyframes backgroundAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Container des Popups */
.infoBox {
  animation: popupAnimationUp 0.3s;
  transition-timing-function: ease-in;

  position: fixed;
  background: rgb(21, 21, 21);
  overflow-y: scroll;
  flex-wrap: wrap;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  height: 90%;
  margin-bottom: 0px;
  bottom: 0px;
}
/* Animation */
@keyframes popupAnimationUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
/* Styling aller Textelemente im Popup */
.fullRecipeTextStyling {
  padding: 30px;
  margin-top: 15px;
  text-align: left;
}
/* Titel */
.fullRecipeTextStyling h3 {
  font-family: oswald;
  color: #faf9f8;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}
/* Zutaten/Schritte */
.fullRecipeTextStyling h4 {
  font-family: oswald;
  color: #faf9f8;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}
/* Text */
.fullRecipeTextStyling h5 {
  font-family: montserrat;
  color: #faf9f8;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0px;
}
/* Datum  */
.fullRecipeTextStyling h2 {
  text-align: center;
  font-family: oswald;
  color: #818181;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
  /* margin-left: -30px; */
}

/* Auflistung ist nummeriert */
li {
  list-style: decimal;
}

/* Button um gesamtes Rezept zu schließen */
.infoBox button {
  background-color: rgba(21, 21, 21, 0);
  color: #faf9f8;
  border-radius: 5px;
  border: none;

  text-align: center;
  font-family: montserrat;
  font-size: 20px;
  font-weight: 600;
  text-transform: lowercase;

  margin: 33px;
  float: right;
}
