.fullRecipeContainer{
  
  display: flex;
  justify-content: center;
  /* margin-top:-320px; */
  background-color: rgba(0, 0, 0, 0.63);
  width:100%;
  height: 100%;
  
  position: fixed;
  top: 0;
    left: 0;
    z-index: 999;
  
}

.infoBox {
  position: fixed;
  background: rgb(0, 0, 0);
  overflow-y: scroll;
  flex-wrap: wrap;
  
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  height: 700px;
  margin-top: 28%;
}
.fullRecipeTextStyling{
  padding: 30px;
  text-align: left;
}
/* Titel */
.fullRecipeTextStyling h3{
  font-family: oswald;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
/* Zutaten/Schritte */
.fullRecipeTextStyling h4{
  font-family: oswald;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 200;
  text-transform: uppercase;
}
/* Text */
.fullRecipeTextStyling h5{
  font-family: montserrat;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
}

li {
  list-style: decimal;
}

.infoBox button {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;

  text-align: center;
  font-family: konnect;
  color: rgb(56, 56, 56);
  font-size: 13px;
  font-weight: 400;
  text-transform: lowercase;
  
}

.infoBox #stepsStyling {
  margin-left: 10px;
}
