.RandomizerBody {
  padding-top: 22%;
  padding-bottom: 120px;
  padding-left: 23%;
  padding-right: 23%;
}

.shuffleButton {
  background-color: rgb(235, 210, 102);
  width: 100%;
  margin-bottom: 20px;
  height: 35px;
  border-radius: 5px;
  border: none;

  text-align: center;
  font-family: oswald;
  color: rgb(56, 56, 56);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Anzeige, wenn noch keine Rezepte eingetragen wurden */
.noRecipePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noRecipePage p {
  text-align: center;
  font-family: oswald;
  color: rgb(56, 56, 56);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -85px;
  margin-left: 105px;
}
.noRecipePage img {
  margin-top: 0;
  width: 350px;
}
