* {
  -webkit-tap-highlight-color: transparent;
}

.RandomizerBody {
  padding-top: 22%;
  padding-bottom: 120px;
  padding-left: 13%;
  padding-right: 13%;
  justify-content: center;
  align-items: center;
}

/* Container for Shuffle/Text */
.randomizerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 35%;
  margin-left: 20px;
  margin-right: 20px;
}
.shuffleButton {
  align-self: center;
  font-family: oswald;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: rgb(21, 21, 21);
  color: #faf9f8;
  width: 130px;
  height: 40px;
  border-radius: 100px;
  border: none;
}
.randomizerContainer p {
  align-self: center;
  width: 85%;
  margin-top: 40px;
  text-align: left;
  font-family: oswald;
  color: rgb(56, 56, 56);
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}
.randomizerContainer img {
  width: 130px;
  margin-top: 30px;
  align-self: center;
}

/* Anzeige, wenn noch keine Rezepte eingetragen wurden */
.noRecipePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noRecipePage p {
  text-align: center;
  font-family: oswald;
  color: rgb(56, 56, 56);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -85px;
  margin-left: 105px;
}
.noRecipePage img {
  margin-top: 30px;
  width: 350px;
}
