.addRBody {
  padding-top: 22%;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  
}

/* TITEL */

/* Titel Box Styling */
.titleStyling {
  text-align: center;
  background-color: #f2f1f0;
  border-radius: 16px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
}
/* Titel Header */
.titleStyling h3 {
  color: black;
  text-align: center;
  font-family: oswald;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0px;
}
/* Titel Input */
.titleStyling input {
  background-color: #faf9f8;
  font-family: montserrat;
  font-size: 13px;
  font-weight: 400;
  width: 265px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid black;
  margin:20px;
}

/* ZUTATEN */
/* Zutaten Input und Button */
.inputAndButtonStyling {
  display: flex;
  justify-content: center;
  margin:20px;
}

/* Zutaten Box */
.ingredientStyling{
  text-align: center;
  background-color: #f2f1f0;
  border-radius: 16px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
}

/* Zutaten Header */
.ingredientStyling h3 {
  color: black;
  text-align: center;
  font-family: oswald;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0px;
}
/* Zutaten einzeln text*/
.ingredientStyling h5 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: montserrat;
  font-size: 13px;
  font-weight: 400;
}
/* Zutaten einzeln div */
.ingredientStyling .ingredientsListStyling {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
/* Zutaten einzeln */
.ingredientStyling .singleElement {
  background-color: black;
  text-align: left;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 7px;
  margin-right: 0px;
  max-width: 260px;
  height: auto;
}

.ingredientStyling input {
  background-color: #faf9f8;
  font-family: montserrat;

  font-size: 13px;
  font-weight: 400;

  width: 220px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid black;
}
/* Zutaten Add */
.ingredientStyling #buttonAdd {
  font-family: montserrat;
  font-size: 20px;
  font-weight: 500;
  padding:0px;
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
  color: rgb(224, 224, 224);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 2px;
  border-radius: 100px;
  border: none;
}
/* Zutaten Löschen */
.ingredientStyling #buttonDelete {
  font-family: montserrat;
  text-align: center;
  font-size: 10px;
  font-weight: 1000;
  background-color: rgba(0, 0, 0, 0);
  color: #212121;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: none;
  margin:2px;
padding:0;
  
}


/* SCHRITTE */

/* Schritte Box */
.stepsStyling{
  text-align: center;
  background-color: #f2f1f0;
  border-radius: 16px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
}
/* Schritte Header */
.stepsStyling h3 {
  color: black;
  text-align: center;
  font-family: oswald;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0px;
}
/* Schritte einzeln text */
.stepsStyling h5 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: montserrat;
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
}
/* Schritte einzeln div */
.stepsStyling .stepsListStyling {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
/* Schritte einzeln */
.stepsStyling .singleElement {
  background-color: black;
  text-align: left;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 7px;
  max-width: 260px;
  height: auto;
}

.stepsStyling input {
  background-color: #faf9f8;
  font-family: montserrat;

  font-size: 13px;
  font-weight: 400;

  width: 220px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid black;
}
/* Schritte Add */
.stepsStyling #buttonAdd {
  font-family: montserrat;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
padding:0px;
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
  color: rgb(224, 224, 224);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 2px;
  border-radius: 100px;
  border: none;
}
/* Schritte Löschen */
.stepsStyling #buttonDelete {
  font-family: montserrat;
  text-align: center;
  font-size: 10px;
  font-weight: 1000;
  background-color: rgba(0, 0, 0, 0);
  color: #212121;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: none;
  margin:2px;
padding:0;
}

.flexStyling{
  text-align: center;
  background-color: #f2f1f0;
  border-radius: 16px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
}

.categoryStyling option {
  color: rgb(8, 14, 12);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Kategorie und Date sind Flex */
.flexStyling {
  display: flex;
  justify-content: center;
}

/* Category Styling */
.categoryStyling {
  text-align: center;
  margin-right: 10px;
}
.categoryStyling h3 {
  color: black;
  text-align: center;
  font-family: oswald;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.categoryStyling select {
  background-color: #faf9f8;
  color: rgb(143, 143, 143);
  font-family: montserrat;
  text-transform: lowercase;

  font-size: 13px;
  font-weight: 400;

  width: 110px;
  height: 35px;
  border-radius: 100px;
  border: 2px solid black;
}

/* Datum Styling */
.dateStyling {
  text-align: center;
}
.dateStyling h3 {
  color: black;
  text-align: center;
  font-family: oswald;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.dateStyling input {
  text-align: center;
  background-color: #faf9f8;
  color: rgb(143, 143, 143);
  font-family: montserrat;
  text-transform: lowercase;

  font-size: 13px;
  font-weight: 400;

  width: 110px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid black;
}

/* Submit Button Styling */
.submitButtonStyling {
  display: flex;
  justify-content: center;
}
.submitButtonStyling button {
  font-family: oswald;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #e6842f;
  color: #faf9f8;
  margin-top: 40px;
  width: 130px;
  height: 30px;
  border-radius: 100px;
  border: none;
}
.submitButtonStyling button:disabled {
  background-color: #e6842f46;
  color: #e6842f;
}
