.headerStyling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  height: 70px;
  background-color: #faf9f8;
  position: fixed;
  top: 0px;
}

h1 {
  text-align: center;
  font-family: oswald;
  color: rgb(21, 21, 21);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 35px;
}
