h1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  height: 85px;
  background-color: #faf9f8;
  position: fixed;
  top: 0px;

  text-align: center;
  font-family: oswald;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

hr {
  margin-top: -28px;
  border: none;
  height: 1px;
  background-color: rgb(105, 105, 105);
  width: 90%;
}
