header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  box-shadow: 0 -1px 12px;

  text-align: center;
  font-family: konnect;
  color: rgb(56, 56, 56);
  font-size: 25px;
  font-weight: 400;
  text-transform: lowercase;
}
