.RecipesBody {
  padding-top: 17%;
  padding-bottom: 120px;
  /* max-width:375px; */
}

/* Container der Liste */
.listItemStyling {
  position: relative;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 90px;
  justify-content: flex-end;
  /* max-width:375px; */
}
/* Button Styling (der Liste) */
.listItemStyling button {
  display: flex;
  background-color: #f2f1f0;
  border: 2px solid rgb(21, 21, 21);
  width: 100%;
  height: 90px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
}
/* Die Texte innerhalb der Buttons werden geflext */
.recipeButton .textflex {
  display: flex;
}
/* Text (Titel) innerhalb des Buttons */
.recipeButton h3 {
  font-family: oswald;
  color: rgb(21, 21, 21);
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
/* Text (Datum) innerhalb des Buttons */
.recipeButton h5 {
  font-family: montserrat;
  color: rgb(95, 95, 95);
  font-size: 13px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
/* Icon des Rezepts */
.recipeButton img {
  width: 70px;
  /* margin: 3px; */
  border: 2px solid rgb(21, 21, 21);
  border-radius: 10px;
}

/* Anzeige, wenn noch keine Rezepte eingetragen wurden */
/* Container */
.listTextStyling {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
/* Text */
.listTextStyling p {
  text-align: left;
  font-family: oswald;
  color: rgb(21, 21, 21);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -85px;
  margin-left: 105px;
}
/* Bild */
.listTextStyling img {
  margin-top: 5%;
  width: 350px;
}

/* Delete Button */
.listItemStyling .deleteButton {
  position: absolute;
  font-family: montserrat;
  font-size: 25px;
  font-weight: 100;
  background-color: #faf9f800;
  color: #b9b9b9;
  border: none;

  width: fit-content;
  height: 15px;
  /* float: right; */
  align-self: flex-start;
  margin: 10px;
}
