.RecipesBody {
  padding-top: 33%;
  padding-bottom: 120px;
}

.listItemStyling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 23%;
  padding-right: 23%;
}
.listItemStyling button {
  background-color: rgb(235, 210, 102);
  width: 100%;
  margin-bottom: 20px;
  height: 35px;
  border-radius: 5px;
  border: none;

  text-align: center;
  font-family: konnect;
  color: rgb(56, 56, 56);
  font-size: 15px;
  font-weight: 400;
}

.listTextStyling {
  padding-top: 30%;
  padding-bottom: 85px;

  text-align: center;
  font-family: montserrat;
  color: rgb(56, 56, 56);
  font-size: 13px;
  font-weight: 400;
  text-transform: lowercase;
}
