.RecipesBody {
  padding-top: 20%;
  padding-bottom: 120px;
}

.listItemStyling {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 90px;
}
.listItemStyling button {
  display: flex;
  background-color: #f2f1f0;
  border: 2px solid black;
  width: 100%;
  height: 90px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
}
.recipeButton .textflex {
  display: flex;
}
.recipeButton h3 {
  font-family: oswald;
  color: rgb(56, 56, 56);
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
.recipeButton h5 {
  font-family: montserrat;
  color: rgb(95, 95, 95);
  font-size: 13px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
.recipeButton img {
  width: 70px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 10px;
}

/* Anzeige, wenn noch keine Rezepte eingetragen wurden */
.listTextStyling {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.listTextStyling p {
  text-align: center;
  font-family: oswald;
  color: rgb(56, 56, 56);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.listTextStyling img {
  margin-top: 50%;
  width: 200px;
}
